[submodule "backEnd"]
	path = backEnd
	url = https://github.com/XiiinSheng/birthday-website.git
[submodule "frontEnd/birthday-website"]
	path = frontEnd/birthday-website
	url = https://github.com/XiiinSheng/birthday-website.git
